version: '3.8'

services:
  nextjs-app:
    build: .
    container_name: nextjs-minhaj_sol
    image: hassan523/minhaj_sol
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    command: npm run dev